body {
    background-color: #191919;
    overflow-x: hidden;
}
/*----Nav bar----*/
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #191919;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #191919;
    }

    .navbar-custom.top-nav-collapse {
        /*border-bottom: 1px solid rgba(255,255,255,.3);*/
    }
}
.profile_cover
{
    width: calc(100% - 100px);
    height: 300px;
    margin-left:50px;
    margin-bottom: 10px;
    overflow: hidden;
}
.profile_cover img
{
    width: 100%;
    margin-top: -250px;
}
#cover
{
    width: 300px;
    height: 300px;
    background: white;
    overflow: hidden;

}
#cover img
{
    margin-top: -350px;
}
input[type=file]
{ 
    color:transparent;
}
.main_section
{
    width: calc(100% - 100px);
    margin-left:50px;
}
.side_bar
{
    float: left;
    width: 20%;
    text-align: center;
    background: #191919;
}
.tab_box
{
    float: left;
    width: calc(80% - 5px);
    margin-left: 5px;
}
.change_username
{
    display:none;
    margin-left: 100px;
}
.change_password
{
    display:none;
    margin-left: 100px;
}

.btn {
    background-color: #428bca;
    font-family:"Lato";
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 175px;
    margin-top: 4px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.btn.sharp {
  border-radius:0;
}



.panel.with-nav-tabs.panel-primary,
.panel.with-nav-tabs .panel-heading,
.panel.with-nav-tabs.panel-primary .nav-tabs > li > a
{
    border-radius:0;
}
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}   


.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}


